body {
  background-color: #ffffff;
  color: #000000;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  line-height: 1.2;
  font-size: 14pt;
	
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1{
	font-size: 170%;
	padding-top: 12pt;
	line-height: 1.5;
	
}
h3{
	font-size: 114%;
}
p{
	padding-bottom: 5pt;
	padding-top: 5pt;
}
a{
	text-decoration: none;
	
}
a:link{
	color: #ffffff;
}
a:hover{
	color:aqua;
	
}
a:visited{
	color:#000000;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.author{
	padding-top: 12pt;
	padding-bottom: 12pt;
	
}

figcaption{
	font-size: 71%;
	width: 274px;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
